body {
    background-color: rosybrown;
    font-family: "Arial", sans-serif;
    height: 100vh;
}

.business-card {
    width: 300px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    border: 3px solid black;
}
.profile-image {
    width: 150px;
    height: 150px;
    max-width: 100%;
    object-fit: cover;
    border: 2px solid lightgray;
    max-width: 100%;
}
p {
    margin: 5px 0;
}
.full-name {
    font-size: 1.5rem;
    margin: 1rem 0;
}
.designation {
    font-size: 1.2rem;
    color: gray;
}
.company {
    color: gray;
}
a {
    text-decoration: none;
}
.business-card hr {
    margin: 1.5rem 0;
}
.social-links a:link {
    display: inline-block;
    color: darkred;
    padding: 0 0.5rem;
}
.social-links a:hover {
    color: blue;
}